<!DOCTYPE html>
<html lang="es">


    
<head>
<meta charset="UTF-8">

<title>Quiniela Pitera</title>
<!-- Styles -->
</head>
<body>
<div style="background-color: #333; color: #fff; padding: 10px; text-align: center;">
    <h1>Quiniela Pitera</h1>
</div>
<div style="background-color: #333; padding: 10px; text-align: center; font-weight: bold;">
    <a style = "color: #fff;" href="{% url 'principal' %}" {% if page == "principal" %} class="my-active-class" {% endif %}>Inicio</a>
    <a style = "color: #fff;" href="{% url 'jornadas' %}" {% if page == "jornadas" %} class="my-active-class" {% endif %}>Jornadas</a>
    <a style = "color: #fff;" href="{% url 'ingresar_resultado' %}" {% if page == "ingresar_resultado" %} class="my-active-class" {% endif %}>Llenar Quiniela</a>
    <a style = "color: #fff;" href="{% url 'tabla_general' %}" {% if page == "tabla_general" %} class="my-active-class" {% endif %}>Tabla General</a>
</div>

<div class="content">
    {% block content %}
    {% endblock %}
</div>

<div style="background-color: #333;
color: #fff;
padding: 10px;
text-align: center;
bottom: 0;
width: 100%;">
    <p>Derechos Reservados &copy; 2024 Quiniela Pitera</p>
</div>
</body>
</html>

